@media only screen and (min-width: 600px) and (max-width: 1025px) { 
    .firebasetag{
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 7px;
        padding: 3px 13px;
        font-weight: 600;
        background-color: #E9B422;
        font-size: 20px !important;
        width: 80px !important;
        height: 30px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000000;
    }
}