@media (min-width: 1025px) { 
    .contenedorBlogLogica{
        width: 100%;
        height: auto;
        background-color: #060016;
        display: flex;
        justify-content: center;
        align-items: center;
        .internoBlogLogica{
            width: 100%;
            height: 100%;
            max-width: 1500px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .contenedorVolver{
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            padding-top: 120px;
            font-size: 1.5rem;
            .back{
                color: #fff;
                margin-left: 8px;
                margin-top: -5px !important;
                margin-bottom: 5px !important;
                font-weight: 400;
                cursor: pointer;
            }
            .flechaIzquierda{
                color: #fff;
                margin-left: 45px;
                cursor: pointer;
            }
        }
        .contenedorTitulo{
            width: 45% !important;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 20px;
            h3{
                color: #fff;
                font-size: 2rem;
            }
        }
        .contenedorParrafoBlog{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .interiorParrafoBlog{
                width: 45%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                padding-bottom: 100px;
                .contenedorImgPost{
                    height: 30vh;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                p{
                    color: #7c8494;
                    font-weight: 600;
                    font-size: 1rem;
                    text-align: start;
                }
                h5{
                    font-size: 1.5rem;
                    color: #fff;
                }
            }
        }
        .contenedorEnunciadosyEjercicios{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            .contenedorInteriorEnunciadosyEjercicios{
                width: 90%;
                height: auto;
                margin-top: 20px;
                display: flex;
                align-items: center;
                flex-direction: column;
                h6{
                    font-size: 1.6rem;
                    color: #00c4ff;
                    margin-bottom: 10px;
                }
                p{
                    margin-top: 20px;
                    color: #fff;
                    font-size: 1rem;
                    margin-bottom: 10px;
                }
                .contenedorImgResolucion{
                    width: 100%;
                    height: 600px;
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: left;
                        margin-left: -30px;
                    }
                }
            }
        }
    }
}