@media only screen and (min-width: 600px) and (max-width: 1025px) { 
    .reactTag{
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 7px;
        padding: 3px 13px;
        font-size: 20px !important;
        width: 60px !important;
        height: 30px !important;
        font-weight: 600;
        background-color: #83E0F8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}