@media only screen and (max-width: 1025px)  { 
    .css{
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 7px;
        padding: 3px 13px;
        font-size: 14px;
        font-weight: 600;
        background-color: #2062AF;
        font-size: 20px !important;
        width: 60px !important;
        height: 30px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    
}