@media only screen and (min-width: 600px) and (max-width: 1025px) { 
    .css{
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 7px;
        padding: 3px 13px;
        font-weight: 600;
        background-color: #2062AF;
        width: 50px;
        height: 25px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
}